<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.iweinzierl.worktrack">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".WorktrackApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name_inc_version"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.apps.drive.APP_ID"
            android:value="@string/google_drive_app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- ACTIVITIES -->
        <activity
            android:name=".ManageWorkplacesActivity_"
            android:label="@string/activity_manage_workplaces"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".PickLocationActivity_"
            android:label="@string/activity_pick_location"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".DayOverviewActivity_"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WeekOverviewActivity_"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".YearOverviewActivity_"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SettingsActivity_"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ManageBackupsActivity_"
            android:label="@string/activity_manage_backups"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- RECEIVERS -->
        <receiver
            android:name=".receiver.StartWorkReceiver_"
            android:exported="true">
            <intent-filter>
                <action android:name="de.iweinzierl.worktrack.START_WORK" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.StopWorkReceiver_"
            android:exported="true">
            <intent-filter>
                <action android:name="de.iweinzierl.worktrack.STOP_WORK" />
            </intent-filter>
        </receiver>

        <!-- services -->
        <service
            android:name=".job.BackupJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".receiver.GeofencingTransitionService_" />

        <service
            android:name=".service.UpdateGeofenceService_"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>