<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.iweinzierl.worktrack">

    <application
        android:name=".WorktrackApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".OverviewActivity_"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OverviewChartActivity_"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <receiver
            android:name=".receiver.StartWorkReceiver_"
            android:exported="true">
            <intent-filter>
                <action android:name="de.iweinzierl.worktrack.START_WORK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.StopWorkReceiver_"
            android:exported="true">
            <intent-filter>
                <action android:name="de.iweinzierl.worktrack.STOP_WORK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>